// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert{
  text-decoration: underline;
  font-weight: bold;
}
.alert-danger{color: red;}
.alert-success{color: green;}
